/* stylelint-disable selector-max-type, selector-max-universal */

@import-normalize;

@import "./Sanitize.css";
@import "./OpenType.css";

/*
  apply a natural box layout model to all elements, but allowing
  components to change
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol,
dl,
dt,
table,
tr,
td,
th,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
