/* stylelint-disable */
/* Based on: */
/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */

 ::before,
 ::after {
   background-repeat: no-repeat; /* 1 */
   box-sizing: inherit; /* 2 */
 }

 /**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritence in all browsers (opinionated).
  */

 ::before,
 ::after {
   text-decoration: inherit; /* 1 */
   vertical-align: inherit; /* 2 */
 }

 /**
  * 1. Add border box sizing in all browsers (opinionated).
  * 2. Add the default cursor in all browsers (opinionated).
  */

 html {
   box-sizing: border-box; /* 1 */
   cursor: default; /* 2 */
 }


 /* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
    ========================================================================== */

 /**
  * Remove the margin in all browsers (opinionated).
  */

 body {
   margin: 0;
 }


 /* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
    ========================================================================== */

 /**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */

 nav ol,
 nav ul {
   list-style: none;
 }



 /* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
    ========================================================================== */

 /**
  * Change the fill color to match the text color in all browsers (opinionated).
  */

 svg {
   fill: currentColor;
 }



 /* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
    ========================================================================== */

 /**
  * Inherit styling in all browsers (opinionated).
  */

 button,
 input,
 select,
 textarea {
   color: inherit;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
 }




 /* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
    ========================================================================== */

 /*
  * Remove the tapping delay on clickable elements (opinionated).
  * 1. Remove the tapping delay in IE 10.
  */

 a,
 area,
 button,
 input,
 label,
 select,
 summary,
 textarea,
 [tabindex] {
   -ms-touch-action: manipulation; /* 1 */
   touch-action: manipulation;
 }




 /* ARIA (https://w3c.github.io/html-aria/)
    ========================================================================== */

 /**
  * Change the cursor on busy elements (opinionated).
  */

 [aria-busy="true"] {
   cursor: progress;
 }

 /*
  * Change the cursor on control elements (opinionated).
  */

 [aria-controls] {
   cursor: pointer;
 }

 /*
  * Change the display on visually hidden accessible elements (opinionated).
  */

 [aria-hidden="false"][hidden]:not(:focus) {
   position: absolute;
   display: inherit;
   clip: rect(0, 0, 0, 0);
 }

 /*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements (opinionated).
  */

 [aria-disabled] {
   cursor: default;
 }

 /*
  * Disables all CSS triggered transitions when user favors
  * more static interfaces.
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     transition: none !important;
   }
 }
