/*!
Edge Base CSS
*/

@import-normalize;

/**
 * Add box sizing inheritence in all browsers (opinionated).
 */

*,
::before,
::after {
	box-sizing: inherit;
}

/**
 * Add text decoration inheritance in all browsers (opinionated).
 * Add vertical alignment inheritence in all browsers (opinionated).
 */

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

/**
 * Add border box sizing in all browsers (opinionated).
 * Add the default cursor in all browsers (opinionated).
 */

html {
	box-sizing: border-box;
	cursor: default;
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
	list-style: none;
}

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
	fill: currentColor;
}

/**
 * Inherit styling in all browsers (opinionated).
 */

button,
input,
select,
textarea {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

/**
 * Change the resize direction on textareas in all browsers (opinionated).
 */

textarea {
	resize: vertical;
}

/*
 * Remove the tapping delay on clickable elements (opinionated).
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
	cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
	cursor: pointer;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
	cursor: default;
}

/*
 * Reset margins and paddings on all block level elements
 */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select {
  margin: 0;
  padding: 0;
}

/**
 * 1. Inherit style issues with custom selections, per robsterlini.co.uk/journal/opentype-and-selection-dont-mix
 * 2. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
 *    Turn off all other ligatures, tabular, lining numerals, and alternates
      Uses same settings for tables
 * 3. Hard-codes fallback text selection for issue #18, color is Chrome’s per via http://stackoverflow.com/a/16094931/864799
 */

::selection {
  color: inherit; /* 1. */
  text-shadow: inherit; /* 2. */
  background-color: #ACCEF7; /* 3. */
}

html,
body,
table {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0; /* 2. */
}

/**
 * Turn on discretionary ligatures for larger headings
 */

h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}

/**
 * 1. Change all letters to uppercase
 * 2. Turn on small caps for upper and lowercase letters
 */

abbr {
  text-transform: uppercase; /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1; /* 2 */
}

time {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}

/*
 * Turn off kerning and ligatures,
 * Turn on lining, tabular numerals, slashed zero
 */

pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}

/**
 * Turn on proper supercript numerals
 */

sup {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}

/**
 * Turn on proper subscript numerals
 */

sub {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}

/**
 * Turns on lining, proportional numerals without clarified zeroes
 * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
 */

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
}

/**
 * According to Wikipedia: http://en.wikipedia.org/wiki/Non-English_usage_of_quotation_marks
 * This is built on prior knowledge, which I would like to find and cite
 */

:lang(cy) q {
  quotes: '\2018' '\2019' '\201C' '\201D' '\2018' '\2019' '\201C' '\201D';
  /*         ‘       ’       “       ”       ‘       ’       “       ”  */
}

:lang(af) q,
:lang(zh) q,
:lang(en) q,
:lang(en-us) q,
:lang(eo) q,
:lang(id) q,
:lang(ga) q,
:lang(ko) q,
:lang(pt-br) q,
:lang(th) q,
:lang(tr) q {
  quotes: '\201C' '\201D' '\2018' '\2019' '\201C' '\201D' '\2018' '\2019';
  /*         “       ”       ‘       ’       “       ”       ‘       ’  */
}

:lang(sq) q,
:lang(bs) q {
  quotes: '\201E' '\201C' '\2018' '\2019' '\201E' '\201C' '\2018' '\2019';
  /*         „       “       ‘       ’       „       “       ‘       ’  */
}

:lang(ar) q {
  quotes: '\201D' '\201C';
  /*         ”       “  */
}

:lang(cs) q,
:lang(de) q,
:lang(sk) q,
:lang(sl) q,
:lang(sb) q,
:lang(is) q {
  quotes: '\201E' '\201C' '\201A' '\2018' '\201E' '\201C' '\201A' '\2018';
  /*         „       “       ‚       ‘       „       “       ‚       ‘  */
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}


/* Tables
========================================================================== */

/**
 * Turns on tabular, lining numerals and slashed zero
 */

tbody,
caption {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}
