/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */

/**
 * Add box sizing inheritence in all browsers (opinionated).
 */

*,
::before,
::after {
	box-sizing: inherit;
}

/**
 * Add text decoration inheritance in all browsers (opinionated).
 * Add vertical alignment inheritence in all browsers (opinionated).
 */

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

/**
 * Add border box sizing in all browsers (opinionated).
 * Add the default cursor in all browsers (opinionated).
 */

html {
	box-sizing: border-box;
	cursor: default;
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
	list-style: none;
}

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
	fill: currentColor;
}

/**
 * Inherit styling in all browsers (opinionated).
 */

button,
input,
select,
textarea {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

/**
 * Change the resize direction on textareas in all browsers (opinionated).
 */

textarea {
	resize: vertical;
}

/*
 * Remove the tapping delay on clickable elements (opinionated).
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
	cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
	cursor: pointer;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
	cursor: default;
}
