@import "../../Variables.css";
@import "../../Responsive.css";

.preloader {
  width: calc(width("./logo.svg") / 2);
  height: calc(width("./logo.svg") / 2);

  background: url("./logo.svg");
  border: 1px solid #000;
}

.intro {
  font-size: 20px;
}
